<ng-template #loading>
    <mat-spinner class="loading"></mat-spinner>
</ng-template>

<div class="container" *ngIf="isPageReady; else loading">
    <div class="action-center">
        <mat-card>
            <div class="columns">
                <div class="column is-half">
                    <ul class="is-unstyled">
                        <li>
                            <button mat-raised-button color="primary" (click)="saveOrder()" [disabled]="!save">
                                <mat-icon>save</mat-icon> Kaydet
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="column is-half" id="deleteGallery" #deleteList="cdkDropList" cdkDropList
                    (cdkDropListDropped)="deleteGallery($event)">
                    <p>Sürükle ve Bırak</p><mat-icon>delete</mat-icon>
                </div>
            </div>

        </mat-card>
    </div>
    <mat-card>
        <div class="title">
            <h1 class="is-size-3">Galeri</h1>
            <hr>
        </div>
        <div cdkDropList [cdkDropListConnectedTo]="[deleteList]" (cdkDropListDropped)="drop($event)"
            cdkDropListSortingDisabled="true" class="columns is-multiline">
            <div cdkDrag [cdkDragData]="image" [cdkDragStartDelay]="200"
                class="column is-one-quarter-desktop is-one-third-tablet" *ngFor="let image of pagination.data">
                <img [src]="GALLERY_URL + image.image">
            </div>
        </div>
        <hr>
        <mat-paginator [length]="pagination.total" [pageSize]="pagination.per_page"
            [pageSizeOptions]="service.pageSizeOptions" [pageIndex]="pagination.current_page - 1"
            (page)="service.changePageOptions(helpersService, $event)">
        </mat-paginator>
    </mat-card>

    <button mat-fab class="add-btn" [routerLink]="['/gallery/add']" [disabled]="save">
        <mat-icon>add</mat-icon>
    </button>
</div>