<div *ngIf="isPageReady">

    <form #f="ngForm" (ngSubmit)="addGallery(f)">
        <div class="columns" *ngIf="progressValue !== -1">
            <div class="column is-12">
                <mat-card>
                    <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
                </mat-card>
            </div>
        </div>
        <div class="columns">
            <div class="column is-one-third">

                <mat-card>
                    <ul cdkDropList (cdkDropListDropped)="drop($event)">
                        <li cdkDrag *ngFor="let image of images; let i = index">
                            <div class="image-container">
                                <mat-icon class="close-icon" (click)="removeImage(image.id)"> close</mat-icon>
                                <img src="" [id]="'image-'+image.id">
                            </div>
                        </li>
                    </ul>

                    <input type="file" #file style="display: none" (change)="showImage()" ngModel name="image" multiple>

                    <div class="field">
                        <button mat-button (click)="file.click()" type="button">Resim Yükle</button>
                    </div>
                </mat-card>
            </div>
        </div>

        <button mat-fab class="add-btn" type="submit" [disabled]="!f.valid && images.length">
            <mat-icon>add</mat-icon>
        </button>
    </form>
</div>